[Unit]
Description=Docker Compose Cleric
Wants=docker.socket
After=docker.service

[Service]
Type=simple
ExecStart={{ compose_cleric_install_dir }}/cleric.sh
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
